$color: rgba(136, 136, 136, 1);
$primary-font-family: "Work Sans", sans-serif;
$primary-font-Size: 1.25rem;
$font-weight: 500;
$line-height: 20px;

.container {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-family: $primary-font-family;
    line-height: $line-height;
    font-weight: $font-weight;
  }
}
