$color: rgba(136, 136, 136, 1);
$primary-font-family: "Work Sans", sans-serif;
$primary-font-Size: 1.25rem;
$font-weight: 500;
$line-height: 20px;

.productCard {
  border-radius: 5px;
  &:hover {
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  }
}
.productImage {
  height: 200px;
  background-color: $color;
  overflow: hidden;
  border-radius: 5px;
}
.productImage img {
  width: 100%;
  object-fit: cover;
  min-height: 100%;
}
.productCardDetails {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 5px;
}
.productPrice,
.productName,
.productDescription {
  width: 1000%;
  display: block;
  word-break: break-word;
  padding-bottom: 7px;
}
.productPrice {
  font-size: $primary-font-Size;
  margin-top: 10px;
}
.productName {
  font-size: 1.2rem;
  margin: 5px 0;
}
.productDescription {
  font-family: $primary-font-family;
  line-height: $line-height;
  font-size: 0.875rem;
  color: $color;
}
.addToCartBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgba(127, 203, 188, 1);
  font-family: $primary-font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  color: rgba(255, 255, 255, 1);
  &:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    transition: ease 0.5s;
  }
}
